<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebpackIntegration</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= webpack_include_tag 'index', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
    <script>
      opt_tz_offset = <%= utc_offset_min %>;
    </script>

    <script>
      index.helloWorld();
      console.log('application time: ' + index.appTime().toString());
      console.log('browser time: ' + index.browserTime().toString());
    </script>
  </body>
</html>
